/UserService/node_modules
/AuthenticationAuthorizationService/node_modules
/QuestionService/node_modules
/InterviewService/node_modules

/UserService/.idea
/AuthenticationAuthorizationService/.idea
/QuestionService/.idea
/InterviewService/.idea


/UserService/configurations/configuration.env
/AuthenticationAuthorizationService/configurations/configuration.env
/QuestionService/configurations/configuration.env
/InterviewService/configurations/configuration.env





